/* Estilos para la página de editar productos */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #007d60;
    margin: 20px 0;
}

#edit-product-form {
    max-width: 600px; /* Aumentamos el ancho del formulario */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    background-color: #007d60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}

.goBack {
    display: block;
    text-decoration: none;
    color: #007d60;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    transition: color 0.3s;
}

.goBack:hover {
    color: #0056b3;
}


