<!DOCTYPE html>
<html>
<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_3.css') }}">
</head>
<body>
    <h1>Agregar Producto</h1>
    <form id="add-product-form" method="POST" enctype="multipart/form-data">
        <label for="name">Nombre del producto:</label>
        <input type="text" name="name" required>
        <br>
        <label for="price">Precio:</label>
        <input type="number" name="price" step="0.01" required>
        <br>
        <label for="stock">Stock:</label>
        <input type="number" name="stock" required>
        <br>
        <label for="photo">Foto del producto:</label>
        <input type="file" name="photo" accept="image/*">
        <br>
        <button type="submit">Agregar Producto</button>
    </form>
    <a class="goBack" href="/">Volver a la lista de productos</a>
</body>
</html>

</html>
